.row > div{
    margin-bottom: 0px;
    margin-left: 376px;
    margin-right: 465px;
    padding: 5px;
    text-align: center;
    
}
button{
    border-radius: 10px;
    border: 0px solid #000000; 
}
.boton_gato{
    width: 40px;
    height: 40px;
    font-size: 18px;
    margin: 10px;
}
.boton_limpiar{
    width: 100px;
    height: 25px;
    margin: 10px;
    margin-left: 2px;
}